.citacao {
	background-color: #D9E5E3;
    /*borda: espessura, estilo e cor*/
    border: .5em solid #C2CCCA;
    margin: 1.25em 2.5em;
    width: 15em;
    box-sizing: border-box;
    padding: 1.25em;
    transition: box-shadow 1s ease-in-out, transform 1s linear;
    transition-delay: 1s, 0s;
}

.autor{
    font-style: italic;
    float: right;
}

.citacao:nth-of-type(odd){
    float: right;
}

.citacao:nth-of-type(even){
    float: left;
}

.citacao:hover,
.citacao:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transition-delay: 0s, 1s;
}

.citacao:nth-of-type(odd):hover,
.citacao:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao:nth-of-type(even):hover,
.citacao:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.conteudo-principal > p::first-letter {
    font-size: 200%;
    font-style: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px black;
}

.citacao::before{
    content: '“';
    color: #bbb;
    font-size: 10em;
    position: absolute;
    line-height: 1;
    font-family: 'Merriweather', serif;
}

.citacao > p {
    position: relative;
}

.habilidades thead th {
    background-color: #3C1D3D;
    font-weight: bold;
    color: white;
    padding: 1em;
}

.habilidades tbody th {
    background-color: #851944;
    font-weight: bold;
    color: white;
    padding: 1em;
    vertical-align: middle;
}

.habilidades td {
    background-color: #EEE;
    padding: 1em;
    vertical-align: middle;
}

.habilidades {
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: separate;
    border-spacing: 0.25em;
}

.habilidades [colspan]{
    text-align: center;
    font-style: italic;
}