.post + .post {
	padding-top: 1.5em;
	margin-top: 1.5em;
	background-image: linear-gradient(to right, transparent, #ccc, transparent);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: top center;
}

.link-leia-mais {
	font-size: 1.25rem;
	color: black;
	font-weight: bold;
	padding: .6em 1em;
	display: block;
	font-family: Open Sans Condensed, sans-serif;
}