form {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

legend, label[for="mensagem"] {
    font-weight: bold;
    margin: 1em;
    font-size: 150%;
}

fieldset:not(.inline) label{
    display: block;
}

#nome, #email, #mensagem{
    width: 100%;
    border: 1px solid #ccc;
    padding: 1em;
}

#nome:hover, 
#email:hover,
#nome:focus,
#email:focus,
#mensagem:hover,
#mensagem:focus {
    background: rgba(255, 245, 163, 0.5);
}

input:invalid, 
#mensagem:invalid {
    box-shadow: 0 0 5px #ff0000;
}

button{
    border: 0;
    padding: .5em 1em;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    margin-left: auto;
    margin-top: 1em;
    position: relative;
    left: 78%;
}

button:hover,
button:focus{
    background-color:#8C1D3D; 
}