html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
    display: block;
}

.titulo {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

.titulo-principal{
    color: #fff;
    text-align: center; 
    font-size: 3.75rem;
    text-shadow: 5px 5px #000;
}

.subtitulo-principal{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-align: center;
    font-size: 1rem;
}

.subtitulo {
    text-shadow: 5px 5px #000;
}

.foto-home {
    height: 200px;
    -webkit-border-radius: 10% 50% / 50% 10%;
    -moz-border-radius: 10% 50% / 50% 10%;
    -ms-border-radius: 10% 50% / 50% 10%;
    -o-border-radius: 10% 50% / 50% 10%;
    border-radius: 10% 50% / 50% 10%;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 100%;
    color: rgba(255, 127, 127, 0.5);
    position: absolute;
    -webkit-animation: aparece 2s;
    animation: aparece 2s;
}

.twitter-banner {
    position: absolute;
    top: 0;
    right: 0;

    line-height: 1;

    /* largura = 14em */
    /* altura = 3.5em */
    /* tx = .707 * h - .707 * w + w */
    /* ty = -.707 * h */
    -webkit-transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-0.707 * 3.5em)) rotate(45deg);
            transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;

    width: 14em;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1.2rem;
    font-family: "Open Sans Condensed", sans-serif;
    -webkit-animation: aparece .5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: backwards;
    animation: aparece .5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

@-webkit-keyframes aparece {
    0% {
        opacity: 0;;
        -ms-transform: scale(0.001); /* IE 9 */
        -webkit-transform: scale(0.001); /* Safari */
        transform: scale(0.001); /* Standard syntax */
    }

    100% {
        opacity: 1;
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1); /* Standard syntax */
    }
}

@keyframes aparece {
    0% {
        opacity: 0;;
        -ms-transform: scale(0.001); /* IE 9 */
        -webkit-transform: scale(0.001); /* Safari */
        transform: scale(0.001); /* Standard syntax */
    }

    100% {
        opacity: 1;
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari */
        transform: scale(1); /* Standard syntax */
    }
}

.eficiencia {
    top: 40%;
    left: 60%;
    opacity: .9;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    opacity: .5;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    opacity: .6;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
}

.css3 {
    top: 55%;
    left: 35%;
    opacity: .6;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
}

.html5 {
    top: 30%;
    left: 65%;
    opacity: .7;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}

.javascript {
    top: 15%;
    left: 60%;
    opacity: .4;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}

.acessibilidade {
    top: 30%;
    left: 35%;
    opacity: .8;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
}

.responsivo {
    top: 40%;
    left: 40%;
    opacity: .8;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
}

.otimizacoes {
    top: 70%;
    left: 65%;
    opacity: .5;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
}

.agilidade {
    top: 75%;
    left: 35%;
    opacity: 0.4;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
}

.design {
    top: 40%;
    left: 60%;
    opacity: .5;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
}

.saudacao{
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 0 1.25em;
}

.saudacao-inicio {
    color: #889;
    font-size: 4rem;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    color: #000;
    font-size: 2rem;
}

.saudacao em {
    color: #851944;
    font-size: 4rem;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
    -webkit-animation: flutua 1s infinite;
    animation: flutua 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    position: relative;
}

@-webkit-keyframes flutua {
    from {
        top:-5px;
    }
    to {
        top:5px;
    }
}

@keyframes flutua {
    from {
        top:-5px;
    }
    to {
        top:5px;
    }
}

.saudacao em:hover,
.saudacao em:focus{
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.botao-index {
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 400px;
    display: block;
    text-align: center;
    padding: .6em;
    margin: 2em auto;
    transition: .5s;
    text-decoration: none;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.botao-index:hover,
.botao-index:focus{
    /*dist dir esq, dist cima baixo, esfuça, tam, cor*/
    box-shadow: 0px 0px 2px 2px #FA9;
    color: white;
    background-color: #C54974;
}

.secao-inicio h2 {
    text-transform: uppercase;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    padding: 1.25em;
    background-image: linear-gradient(135deg,
                        transparent,
                        transparent 14px,
                        rgba(0, 0, 0, 0.1) 14px,
                        rgba(0, 0, 0, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.trabalhos h2 {
    color: #FFF;
    font-size: 2.5rem;
    margin: 1em;
}

.trabalhos ul {
    margin: 2em;
    display: flex;
    display: -webkit-flex;
}

.trabalhos li {
    flex:auto;
    -webkit-flex:auto;
    border: 10px solid black;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.trabalhos li:first-child {
    order: 2;
    transform: scale(1.2);
}
.trabalhos li:nth-child(2) {
    order: 1;
}
.trabalhos li:nth-child(3) {
    order: 3;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    padding: 4em;
    position: relative;
    background-image: linear-gradient(-135deg,
                        transparent,
                        transparent 14px,
                        rgba(255, 255, 255, 0.1) 14px,
                        rgba(255, 255, 255, 0.1) 15px,
                        transparent 15px,
                        transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}

.blog h2{
    font-size: 2.5rem;
}

.blog li {
    margin: 1em;
    width: 16.5%;
    padding: .6em;
}

.blog li a {
    color: #FCF;
}

.blog .inicio-post {
    position: absolute;
    right: 15%;
    top: 20%;
    background-color: #F2FFFC;
    color: black;
    padding: 1.5em;
    height: 10em;
    width: 60em;
    display: none;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.mais-recente:hover, 
.mais-recente:focus {
    background-color: #F2FFFC;
}

.mais-recente a:hover,
.mais-recente a:focus {
    color: #F26; 
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 4em;
}

footer h2 {
    font-size: 2.5rem;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}